<main class="container my-5">
  <section class="text-center mb-5">
    <h2 class="fw-bold" style="color: #2c2ab2">Olá, Gabriela 👋</h2>
    <p class="lead">Aqui está o status atual do seu <strong>Ford</strong> :</p>
  </section>

  <section class="row justify-content-center g-4">
    <!-- Imagem do carro -->
    <div class="col-md-5 text-center">
      <img
        [src]="vehicleData.imagem"
        alt="Veículo"
        class="img-fluid rounded"
        style="max-height: 300px"
      />
      <h4 class="mt-3">{{ vehicleData.nomeModelo }}</h4>
      <p class="text-muted">
        <strong>{{ vehicleData.placa }}</strong> | {{ vehicleData.cor }}
      </p>
    </div>

    <!-- Resumo de status -->
    <div class="col-md-7">
      <div class="row g-3">
        <div class="col-sm-6">
          <div class="card p-3 shadow-sm h-100 infos">
            <h6 class="text">Odômetro</h6>
            <h5>{{ vehicleData.odometro }} km</h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card p-3 shadow-sm h-100 infos">
            <h6 class="text">Combustível</h6>
            <h5>
              {{ vehicleData.nivelCombustivel }}% |
              {{ vehicleData.autonomia }} km
            </h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card p-3 shadow-sm h-100 infos">
            <h6 class="text">Status</h6>
            <h5>{{ vehicleData.statusVeiculo }}</h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card p-3 shadow-sm h-100 infos">
            <h6 class="text">Chassi</h6>
            <h5>{{ vehicleData.chassi }}</h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div
            (click)="openDetails()"
            class="card p-3 shadow-sm h-100 infos"
            style="cursor: pointer"
          >
            <h6 class="text">Próximo serviço a ser realizado:</h6>
            <h5>Troca de óleo e filtro</h5>
          </div>
        </div>
        <div class="col-sm-6">
          <a
            href="https://www.ford.com.br/content/dam/Ford/website-assets/latam/br/nameplate/2024/mustang/pdf/fbr-mustang-manual-do-propietario.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="text card p-3 shadow-sm h-100 infos"
            style="text-decoration: none"
            >Manual do Usuário</a
          >
        </div>
      </div>
    </div>
  </section>

  <app-vehicle-details
    *ngIf="showDetails"
    [vehicle]="vehicleData"
    (close)="closeDetails()"
  ></app-vehicle-details>
  <app-modal
    *ngIf="showModal"
    [localizacao]="modalLocalizacao"
    [servicos]="modalServicos"
    (close)="closeModal()"
  ></app-modal>
</main>
