.card {
  border: none;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

.infos {
  color: #fff;
  border-radius: 10px;
  background: #2c2ab2;
  box-shadow: 25px 25px 51px #252497, -25px -25px 51px #3330cd;
}

.infos h5 {
  font-weight: 300;
}
