.container-form-login {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, #503c75, #6e5799);
}

.carousel-wrapper {
  width: 600px;
  color: #402a5c;
  transition: all 0.4s;
}

.carousel-wrapper:hover {
  transform: scale(1.1);
}

.text-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: white;
}

.text-slide h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-slide p {
  font-size: 1.2rem;
}

.title {
  font-size: 2rem;
  color: #503c75;
  margin-bottom: 1rem;
}

.form-login {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
}
.position-relative {
  display: flex;
  flex-direction: column;
}

.position-relative {
  display: flex;
  flex-direction: column;
}
.logo-ford {
  width: 150px;
  margin-bottom: 3rem;
}

button {
  background-color: #503c75;
}

button:hover {
  background-color: #402a5c;
}

@media screen and (max-width: 768px) {
  .container-form-login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carro {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .form-login {
    width: 100%;
    margin-right: 0;
  }
}
