body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.index-bg {
  background: linear-gradient(to right, #1b357e, #2258ec);
}

body.index-bg footer {
  background-color: #fff0;
}
